---
layout: base__page
---

<div class="row justify-content-center">
	<div class="col-lg-9">
		<p class="h5 text-center px-xl-5">{{ page.lead }}</p>
		<div class="spacer mb-4"></div>

		<!-- WYSIWYG -->
        <div class="wysiwyg">
            {{ content }}
        </div>

	</div>
</div>

{% contentfor content_additional %}
	<!-- SERVICES -->
	<section class="section pt-0">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-11">
					{% include featured_services.html class="block-grid-md-2" %}
				</div>
			</div>
		</div>
	</section>
	{% include sections/contact.html %}
{% endcontentfor %}